# NLP Example, Twitter Tweets <img style="float: right; width: 310px;" src="./Data/Twitter_Logo.jpg"/>  
  
---  

### By: Heather M. Steich, M.S.
### Date: October 29$^{th}$, 2017
### Written in: Python 3.4.5

In [1]:
import sys
print(sys.version)

3.4.5 |Anaconda custom (64-bit)| (default, Jul  5 2016, 14:53:07) [MSC v.1600 64 bit (AMD64)]

---  
  
## Dataset Credit  
  
  
The data used for this project is used with permission (if cited) from the following source:  

    Z. Cheng, J. Caverlee, and K. Lee. You Are Where You Tweet: A Content-Based Approach to Geo-locating Twitter Users. 
    In Proceeding of the 19th ACM Conference on Information and Knowledge Management (CIKM), Toronto, Oct 2010. (Bibtex)

<https://archive.org/details/twitter_cikm_2010><img style="float: center;" src="./Data/paper_logo.gif">

---  

## Overview

The goal of the exercise is to extract information about concert appearances of musicians, performers or bands.  For each such tweet, we are looking to extract:  

 - Who was the performer  
 - When was the show  
 - Where was the show  
 - The Tweeter user who attended it  
 - The sentiment of the tweet  
   
Not all of these fields are available in all tweets, and that’s ok.

Each row in the dataset includes the user id who sent the tweet and the timestamp for the tweet. For the ‘when’ field, we are interested in the date of the show (not just the tweet). We are not interested in any other tweets, including tweets about performers which don’t mention concerts.

---  
  
### Part 1: Classify if the tweets are relevant

In [1]:
## LOAD LIBRARIES

# Data wrangling & processing: 
import numpy as np
import pandas as pd

# Machine learning:
#from sklearn.preprocessing import StandardScaler
#from sklearn.model_selection import train_test_split
#from sklearn.ensemble import RandomForestClassifier as RF
#from sklearn.metrics import confusion_matrix
#from pandas_ml import ConfusionMatrix
#from sklearn.metrics import roc_curve
#from sklearn.ensemble import RandomForestRegressor as RFR

# Plotting:
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
#from IPython.display import display, HTML

# Remove warning messages:
#import warnings
#warnings.filterwarnings('ignore')

In [ ]:
## ESTABLISH PLOT FORMATTING

#mpl.rcdefaults()  # Resets plot defaults

def plt_format():
    %matplotlib inline
    plt.rcParams['figure.figsize'] = (16, 10)
    plt.rcParams['font.size'] = 16
    plt.rcParams['font.family'] = 'Times New Roman'
    plt.rcParams['axes.labelcolor'] = 'black'
    plt.rcParams['axes.labelsize'] = 20
    plt.rcParams['axes.labelweight'] = 'bold'
    plt.rcParams['axes.titlesize'] = 32
    plt.rcParams['axes.titleweight'] = 'bold'
    plt.rcParams['legend.fontsize'] = 16
    plt.rcParams['legend.markerscale'] = 4
    plt.rcParams['text.color'] = 'black'
    plt.rcParams['xtick.labelsize'] = 20
    plt.rcParams['ytick.labelsize'] = 20
    plt.rcParams['legend.fontsize'] = 16
    plt.rcParams['legend.frameon'] = False
    plt.rcParams['axes.linewidth'] = 1

#plt.rcParams.keys()  # Available rcParams
plt_format()

 - Step 2: Load, view & prepare the provided data

In [83]:
## LOAD DATA:

# Read in the files:
train = pd.read_csv("./Data/training_set_tweets.txt", delimiter="\n", names='A') 
test = pd.read_csv("./Data/test_set_tweets.txt", delimiter="\n", names='A')

# Print shapes:
print('Train Shape:', train.shape)
print('Train Column Names:', train.columns)
print('\nTest Shape:', test.shape)
print('Test Column Names:', test.columns)

Train Shape: (3822473, 1)
Train Column Names: Index(['A'], dtype='object')

Test Shape: (5150011, 1)
Test Column Names: Index(['A'], dtype='object')

In [84]:
## PRINT A PREVIEW OF THE DATAFRAMES:

train.head()

                                                   A
0  60730027\t6320951896\t@thediscovietnam coo.  t...
1  60730027\t6320673258\t@thediscovietnam shit it...
2  60730027\t6319871652\t@thediscovietnam hey cod...
3  60730027\t6318151501\t@smokinvinyl dang.  you ...
4  60730027\t6317932721\tmaybe i'm late in the ga...

In [85]:
test.head()

                                                   A
0  22077441\t10538487904\tOk today I have to find...
1  22077441\t10536835844\tI am glad I'm having th...
2  22077441\t10536809086\tHonestly I don't even k...
3  22077441\t10534149786\t@LovelyJ_Janelle hey so...
4  22077441\t10530203659\tSitting infront of this...

In [112]:
## DEFINE A FUNCTION TO PROPERLY STRUCTURE THE DATA:

def restructure_data(df):
    print('Starting phase 1!')
    
    global split_df
    split_df = df['A'].str.split('\t', 3, expand=True)
    split_df.columns = ['UserID', 'tTweetID', 'tTweet', 'tCreatedAt']
            
    bad_rows = split_df[~split_df.UserID.str.isnumeric()].index
            
    while True:
        if bad_rows.shape[0] > 0:
            #print(' ', bad_rows.shape[0])
                    
            bad_rows = df.iloc[bad_rows, :]
            bad_rows.index = bad_rows.index - 1
                    
            good_rows = split_df[split_df.UserID.str.isnumeric()].index
            good_rows = df.iloc[good_rows, :]
                    
            combined_df = pd.concat([good_rows, bad_rows], axis=1)
            combined_df.columns = ['A', 'B']
                    
            df = pd.DataFrame((combined_df['A'].fillna('') + 
                               combined_df['B'].fillna('')), 
                               columns=['A']).reset_index(drop=True)
                    
            split_df = df['A'].str.split('\t', 3, expand=True)
            split_df.columns = ['UserID', 'tTweetID', 'tTweet', 'tCreatedAt']
            
            bad_rows = split_df[~split_df.UserID.str.isnumeric()].index
                
        else:
            print('Done with phase 1!')
                    
            bad_rows = split_df[split_df.tTweetID.isnull()].index

            while True:
                if bad_rows.shape[0] > 0:
                    #print('  ', bad_rows.shape[0])
                            
                    bad_rows = df.iloc[bad_rows, :]
                    bad_rows.index = bad_rows.index - 1

                    good_rows = split_df[~split_df.tTweetID.isnull()].index
                    good_rows = df.iloc[good_rows, :]

                    combined_df = pd.concat([good_rows, bad_rows], axis=1)
                    combined_df.columns = ['A', 'B']

                    df = pd.DataFrame((combined_df['A'].fillna('') + 
                                       combined_df['B'].fillna('')), 
                                       columns=['A']).reset_index(drop=True)

                    split_df = df['A'].str.split('\t', 3, expand=True)
                    split_df.columns = ['UserID', 'tTweetID', 'tTweet', 'tCreatedAt']

                    bad_rows = split_df[split_df.tTweetID.isnull()].index

                else:
                    print('Done with phase 2!')
                    
                    bad_rows = split_df[~split_df.tTweetID.str.isnumeric()].index

                    while True:
                        if bad_rows.shape[0] > 0:
                            #print('   ', bad_rows.shape[0])

                            bad_rows = df.iloc[bad_rows, :]
                            bad_rows.index = bad_rows.index - 1

                            good_rows = split_df[split_df.tTweetID.str.isnumeric()].index
                            good_rows = df.iloc[good_rows, :]

                            combined_df = pd.concat([good_rows, bad_rows], axis=1)
                            combined_df.columns = ['A', 'B']

                            df = pd.DataFrame((combined_df['A'].fillna('') + 
                                               combined_df['B'].fillna('')), 
                                               columns=['A']).reset_index(drop=True)

                            split_df = df['A'].str.split('\t', 3, expand=True)
                            split_df.columns = ['UserID', 'tTweetID', 'tTweet', 'tCreatedAt']

                            bad_rows = split_df[~split_df.tTweetID.str.isnumeric()].index

                        else:
                            print('Done with phase 3!')
                                    
                            strip_timestamps = df['A'].str.rsplit('\t', 1, expand=True)
                            other_columns = strip_timestamps[0].str.split('\t', 2, expand=True)
                            split_df = pd.concat([other_columns, strip_timestamps[1]], axis=1)
                            split_df.columns = ['UserID', 'tTweetID', 'tTweet', 'tCreatedAt']
                                    
                            split_df.UserID = split_df.UserID.astype(np.int64)
                            split_df.tTweetID = split_df.tTweetID.astype(np.int64)
                            split_df.tCreatedAt = pd.to_datetime(split_df.tCreatedAt) #split_df.tCreatedAt.astype(np.datetime64)
                            
                            print('Dataset completed!\n')
                            return split_df

In [113]:
## APPLY THE RESTRUCTURING FUNCTION TO THE TRAINING & TEST SETS:
## (This will take several minutes to run.)

train_df = restructure_data(train)
test_df = restructure_data(test)

# Print corrected shapes:
print('Corrected Train Shape:', train_df.shape)
print('\nCorrected Test Shape:', test_df.shape)

  80516
  12604
  3386
  1302
  607
  319
  168
  91
  49
  19
  8
  6
  5
  3
  1
Done with phase 1!
Done with phase 2!
    22
    7
    5
    3
    2
    1
Done with phase 3!

 - Step 3: Validate that the restructured data is correct

In [138]:
## CHECK DATA TYPES:

print('Training:\n', train_df.dtypes)
print('\nTesting:\n', test_df.dtypes)

Training:
 UserID                 int64
tTweetID               int64
tTweet                object
tCreatedAt    datetime64[ns]
dtype: object

Testing:
 UserID                 int64
tTweetID               int64
tTweet                object
tCreatedAt    datetime64[ns]
dtype: object

In [133]:
## CHECK FOR MISSING VALUES:

print('Missing Data in Training Set:\n', train_df.isnull().sum().values.sum())
print('Missing Data in Testing Set:\n', test_df.isnull().sum().values.sum())

Missing Data in Training Set:
 0
Missing Data in Testing Set:
 0

In [162]:
train_df.sort_values(by='UserID').head()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [163]:
train_df.sort_values(by='UserID').tail()

,UserID,tTweetID,tTweet,tCreatedAt
2189710,95260481,6470419090,get paid with paypal everyweek no hard work ne...,2009-12-08 12:10:01
2189709,95260481,6470548793,I get paid Online making about 12k a Month wor...,2009-12-08 12:14:34
2189708,95260481,6470585312,How is the new Jay-z album should i buy it or ...,2009-12-08 12:15:50
2189706,95260481,6470751598,What's this all about all I can say is you hav...,2009-12-08 12:22:08
2189734,95260481,6468176439,"nearly my son's birthday he loves disney cars,...",2009-12-08 10:45:57

In [164]:
train_df.sort_values(by='tTweetID').head()

,UserID,tTweetID,tTweet,tCreatedAt
119368,5622,28191,trying to figure out what this thing is.,2006-09-10 11:07:07
825210,38323,581203,Getting ready to go to the Improv Olympic to s...,2006-12-02 21:34:25
1663297,690103,3873613,Customer support is no fun at all.,2007-01-23 18:07:29
1663296,690103,3880013,I am still doing customer support,2007-01-23 19:01:33
1663295,690103,3880323,Bryan is a nice guy cause he thinks I shouldn'...,2007-01-23 19:04:58

In [165]:
train_df.sort_values(by='tTweetID').tail()

,UserID,tTweetID,tTweet,tCreatedAt
552720,22307857,6485532854,"NYC at holiday time, can't go wrong. Ate with ...",2009-12-08 21:27:36
1738094,15676578,6485597908,Spoiler: Find out who won Biggest Loser! http:...,2009-12-08 21:29:53
1672933,22097952,6485873515,"@katelynroseee hahaha. I mean, New York Style ...",2009-12-08 21:39:27
108263,34739186,6486280798,WOW! Cardio Barre was AMAZING-I had no idea u ...,2009-12-08 21:54:03
108262,34739186,6486831431,Stop tweeting while we're at dinner!!! ;) RT @...,2009-12-08 22:14:24

In [166]:
train_df.sort_values(by='tTweet').head()

           UserID    tTweetID tTweet          tCreatedAt
166674   20192982  1251289107      ! 2009-02-25 16:57:39
3353374  65642903  4123445005      ! 2009-09-20 08:09:00
76889    15863302  5658023171      ! 2009-11-12 14:00:34
2161550  17926620  6287028586      ! 2009-12-02 18:37:42
218118   30681120  5744360824      ! 2009-11-15 14:11:25

In [167]:
train_df.sort_values(by='tTweet').tail()

,UserID,tTweetID,tTweet,tCreatedAt
2822022,29392455,4164281228,１日ほんの数ページずつですが、坂の上の雲を再読中、以前は完全に龍馬がゆく派だったが、変わったかも。,2009-09-21 22:09:00
3564787,22874169,4333563740,３年前酔っぱらってリバースしたコロナビール飲んでます。酒もってこーい！！,2009-09-23 22:35:03
3036928,52706200,4118931198,４月にサンディエゴで始まる予定のアニメのイベント。その名も「アニメ漢字」ーＡＮＩＭＥ ＣＯＮ...,2009-09-20 00:09:00
3415132,14330200,3991134830,９月１５日、火曜日。曇り。,2009-09-14 18:09:00
3532366,34374919,4119614535,�Red' Sims will always love �his' boys: During...,2009-09-20 01:09:00

In [168]:
train_df.sort_values(by='tCreatedAt').head()

,UserID,tTweetID,tTweet,tCreatedAt
119368,5622,28191,trying to figure out what this thing is.,2006-09-10 11:07:07
825210,38323,581203,Getting ready to go to the Improv Olympic to s...,2006-12-02 21:34:25
1663297,690103,3873613,Customer support is no fun at all.,2007-01-23 18:07:29
1663296,690103,3880013,I am still doing customer support,2007-01-23 19:01:33
1663295,690103,3880323,Bryan is a nice guy cause he thinks I shouldn'...,2007-01-23 19:04:58

In [169]:
train_df.sort_values(by='tCreatedAt').tail()

,UserID,tTweetID,tTweet,tCreatedAt
552720,22307857,6485532854,"NYC at holiday time, can't go wrong. Ate with ...",2009-12-08 21:27:36
1738094,15676578,6485597908,Spoiler: Find out who won Biggest Loser! http:...,2009-12-08 21:29:53
1672933,22097952,6485873515,"@katelynroseee hahaha. I mean, New York Style ...",2009-12-08 21:39:27
108263,34739186,6486280798,WOW! Cardio Barre was AMAZING-I had no idea u ...,2009-12-08 21:54:03
108262,34739186,6486831431,Stop tweeting while we're at dinner!!! ;) RT @...,2009-12-08 22:14:24

In [162]:
test_df.sort_values(by='UserID').head()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [162]:
test_df.sort_values(by='UserID').tail()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [162]:
test_df.sort_values(by='tTweetID').head()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [162]:
test_df.sort_values(by='tTweetID').tail()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [162]:
test_df.sort_values(by='tTweet').head()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [162]:
test_df.sort_values(by='tTweet').tail()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [162]:
test_df.sort_values(by='tCreatedAt').head()

,UserID,tTweetID,tTweet,tCreatedAt
259,14,1004190858,Giving 60 dictionaries to 60 highly energetic ...,2008-11-13 11:55:58
283,14,4119972522,ound like French summer.,2009-09-20 02:21:31
284,14,3881145051,fireworks blast over Santa Monica scattering s...,2009-09-09 23:44:42
285,14,3599227170,today my prototype danced for me. perfect piro...,2009-08-28 03:52:22
286,14,3324787395,If Kafka gave birth atop the trade center towe...,2009-08-15 02:09:23

In [170]:
test_df.sort_values(by='tCreatedAt').tail()

,UserID,tTweetID,tTweet,tCreatedAt
4425852,15342502,10617707268,"Bout to nap it up, please DND.",2010-03-17 06:49:15
2427177,50765154,10617911844,Made it to work ontime! Now I need spmeone to ...,2010-03-17 06:55:50
1384903,18782786,10618404437,"@wizwow, thanks for yet another insightful pos...",2010-03-17 07:10:55
3119490,26962064,10618517948,"@MiszTdott when I pointless text you, you poin...",2010-03-17 07:14:22
235010,15458701,10619091335,Preach Jesus Christ first and foremost as a ma...,2010-03-17 07:31:11

 - Step 4: Write out restructured datasets for future ingestion

In [171]:
## WRITE OUT RESTRUCTURED DATA TO CSV:

train_df.to_csv('./Data/corrected_training_set_tweets.csv')
test_df.to_csv('./Data/corrected_test_set_tweets.csv')

In [ ]:
## CONVERT THE DATE COLUMNS TO DATETIME OBJECTS:

claim_df.ClaimDate = pd.to_datetime(claim_df.ClaimDate)
policy_df.EnrollDate = pd.to_datetime(policy_df.EnrollDate)
policy_df.CancelDate = pd.to_datetime(policy_df.CancelDate)

 - Step 3: Data exploration

In [ ]:
## BASIC STATISTICS FOR THE CLAIMS DATA:

claim_df.describe()

In [ ]:
## THERE WAS ONE NEGATIVE CLAIM:

claim_df[claim_df.ClaimedAmount < 0]

In [ ]:
## IT SEEMS LIKE THIS WAS A REVERSAL OF A CHARGE ON THE SAME DAY:

claim_df[claim_df.PolicyId == 777949]

In [ ]:
## BASIC STATISTICS FOR THE POLICY DATA:

policy_df.describe()

In [ ]:
## VIEW POLICIES THAT DO NOT HAVE AN ASSIGNED MONTHLY PREMIUM:

policy_df[policy_df.MonthlyPremium.isnull()]

In [ ]:
## CHECK THE DATE RANGES TO MAKE SURE THIS IS ALL 2016 DATA:

print("Earliest Date of Claims", claim_df.ClaimDate.min())
print("Latest Date of Claims", claim_df.ClaimDate.max())
print("\nEarliest Date of Policy Enrollment", policy_df.EnrollDate.min())
print("Latest Date of Policy Enrollment", policy_df.EnrollDate.max())
print("\nEarliest Date of Policy Cancel", policy_df.CancelDate.min())
print("Latest Date of Policy Cancel", policy_df.CancelDate.max())

In [ ]:
## MANY CUSTOMERS ENROLLED LONG BEFORE 2016:  

print("Number of Policy Holders Enrolled Prior to 2016:", 
      policy_df[policy_df.EnrollDate < '2016'].shape[0])
policy_df[policy_df.EnrollDate < '2016'].head()

In [ ]:
## COUNT OF UNIQUE POLICY ID'S:

print("Unique Policy ID's:", policy_df.PolicyId.unique().shape[0])
print("Number of Duplicated Rows:", sum(policy_df.duplicated()))

In [ ]:
## COUNT OF UNIQUE POLICY ID'S THAT FILED CLAIMS:

print("Unique Policy ID's That Filed Claims:", 
      claim_df.PolicyId.unique().shape[0])
print("Number of Duplicated Rows:", sum(claim_df.duplicated()))

**Key finding:**  
  
**There are 3,744 claims that have duplicates; resulting in 6,616 rows (4.255%) are duplicates of another.**  
  
**This would be a pivotal time to reach out to check that these are in-fact valid claims.  Due to this being a homework assignment, I will make the executive decision that these *are* valid claims.  For example, perhaps the animal went to the veterinarian for two vaccines, which resulted in two identical claim amounts on the same day.**  

**Please note that this is an assumption, and in the real world I would ask for further clarification prior to proceeding with analyses.**

In [ ]:
## MANY CLAIMS ARE DUPLICATED:

print("Duplicated Claims Account for", 
      claim_df[claim_df.duplicated(keep=False)].shape[0],
      "Rows of the Claims Data.  This is",
      round(claim_df[claim_df.duplicated(keep=False)].shape[0] 
      / claim_df.shape[0] * 100, 3), "% of the Claims Data.")
claim_df[claim_df.duplicated(keep=False)].head(10)

 - Step 4: Transform & merge the data to a monthly-per-policy basis

In [ ]:
## ADD A LEVEL TO COLUMN INDEX TO ALIGN WITH THE MONTHLY CLAIMS DATA:

# Re-assign DataFrame to another name:
reindex_policy = pd.DataFrame(policy_df)

# Reset the index level to prevent an error from occurring if 
# this cell is run more than once:
try:
    reindex_policy = reindex_policy[list(policy_df.columns.levels[0].values)]
except: 
    reindex_policy = policy_df[list(policy_df.columns.values)]

# Add extra level to column index:
reindex_policy.columns = pd.MultiIndex.from_arrays([reindex_policy.columns, 
                    [' '] * len(reindex_policy.columns)])

# Print preview of re-indexed policy DataFrame:
reindex_policy.head()

In [ ]:
## PIVOT & MERGE THE TWO DATAFRAMES TO GET A MORE COMPLETE PICTURE OF 
## CLAIMS BEHAVIOUR, ADDING ADDITION METRICS (FEATURES) FOR MODELLING:

# Pivot the claim DataFrame to have one row per policy, & a column
# for every month's ClaimedAmount & PaidAmount; if not claim data, 
# fill as '$0' claim:
pivot_df = pd.pivot_table(claim_df,index=claim_df['PolicyId'],
               columns=claim_df['ClaimDate'].dt.month,
               aggfunc=np.sum, fill_value=0).reset_index()

# Merge the Claims and Policy DataFrames together in an 'left' join on PolicyId:
wide_df = reindex_policy.join(pivot_df.set_index('PolicyId'))

# Fill in missing amounts with zeros:
wide_df['ClaimedAmount'] = wide_df.ClaimedAmount.fillna(0)
wide_df['PaidAmount'] = wide_df.PaidAmount.fillna(0)

# Calculate basic metrics for each policy:
wide_df['MeanClaims'] = np.mean(wide_df.ClaimedAmount, axis=1)
wide_df['MeanPaid'] = np.mean(wide_df.PaidAmount, axis=1)
wide_df['MedianClaims'] = np.median(wide_df.ClaimedAmount, axis=1)
wide_df['MedianPaid'] = np.median(wide_df.PaidAmount, axis=1)
wide_df['TotalClaims'] = np.sum(wide_df.ClaimedAmount, axis=1)
wide_df['TotalPaid'] = np.sum(wide_df.PaidAmount, axis=1)
wide_df['TotalDifference'] =  (np.sum(wide_df.ClaimedAmount, axis=1) - 
                               np.sum(wide_df.PaidAmount, axis=1))
wide_df['ProportionCovered'] =  (np.sum(wide_df.PaidAmount, axis=1) / 
                                    np.sum(wide_df.ClaimedAmount, axis=1))

# Since we only have claims for 2016, calculate the number of months &  
# paid premiums in 2016 alone:
wide_df['Premiums2016'] = (np.where(pd.to_datetime(pd.Series(wide_df['CancelDate'])).dt.year == 2016,
         pd.to_datetime(pd.Series(wide_df['CancelDate'])).dt.month, 12) 
         - np.where(pd.to_datetime(pd.Series(wide_df['EnrollDate'])).dt.year == 2016, 
         pd.to_datetime(pd.Series(wide_df['EnrollDate'])).dt.month, 0))
wide_df['PremiumsPaid2016'] = np.multiply(wide_df.Premiums2016.values, 
                                       wide_df.MonthlyPremium.iloc[0:, 0].values)
wide_df['PremiumVPaid'] = (wide_df.PremiumsPaid2016.values - wide_df.TotalPaid.values)

# Use a binary key to mark if the customer is current or canceled at the end of 2016:
wide_df['Churned'] = np.where(wide_df.CancelDate.fillna(0) 
                                       > pd.datetime(2016, 1, 1), 1, 0)

# Calculate the total number of months the customer has held a policy:
end = pd.to_datetime('2016-12-31')
wide_df['PolicyLength'] = (wide_df.CancelDate.fillna(end) - 
                           wide_df.EnrollDate).astype('timedelta64[M]')

# Print a preview of the prepared DataFrame:
wide_df.head()

In [ ]:
## WRITE OUT THE PREPARED DATA FRAME FOR FUTURE REFERENCE:

# Condense the columns' MultiIndex for clarification prior to writing out:
write_out = wide_df.copy(deep=True)
write_out.columns =  [''.join(tuple(map(str, t))) for t in write_out.columns.values]
write_out.to_csv('./Data/PreparedData.csv', index=False)

**Key finding:**  
  
**Based on the provided data, using 2016 premiums collected (assuming *no* pro-rating for partial months) & paid claims only, Trupanion made a gross profit of $24,185,900.12!**

In [ ]:
## DATA FACT == IN THE BLACK FOR 2016:

# Calculation of the 2016 total sum of premiums paid to Trupanion minus paid claims:
print('$', round(np.sum(wide_df.PremiumVPaid), 2))

**Key finding:**  
  
**There are 5 policies missing data on monthly premiums.  I typically would ask for clarification here, but since there are so few I'll make the executive decision.  I believe that these rows should be dropped for a model on paid claims, because none of them had any claims submitted or paid.  However, since 4 out of the 5 rows were canceled policies, I would choose to keep them for a model on cancel predictions.**

In [ ]:
## LOCATE POLICIES MISSING MONTHLY PREMIUM DATA & CREATE NEW DATAFRAMES FOR USE 
## IN PAID CLAIMS & CANCELATION MODELING:

# Identify the rows with missing data:
missing = np.argwhere(np.isnan(wide_df.xs('PremiumVPaid', axis=1, drop_level=True))).ravel()
no_premium = wide_df[wide_df.index.isin(missing)] 

# DataFrame without the 5 rows:
paid_df = wide_df[~wide_df.index.isin(no_premium.index)]

# DataFrame with 5 missing premiums filled with zeros:
no_premium[['MonthlyPremium', 'PremiumsPaid2016', 'PremiumVPaid']] = (
    no_premium[['MonthlyPremium', 'PremiumsPaid2016', 'PremiumVPaid']].fillna(0))
cancel_df = pd.concat([paid_df, no_premium])

# Print the policies with missing premiums:
no_premium = wide_df[wide_df.index.isin(missing)] 
no_premium

In [ ]:
## THE MOST EXPENSIVE CUSTOMERS:

a = paid_df.PremiumVPaid.sort_values()[0:5].index
paid_df[paid_df.index.isin(a)]

 - Step 5: Visualize the data to help determine appropriate modeling methods

In [ ]:
plt_format()

plt.plot(np.sum(wide_df, axis=0).ClaimedAmount, label='Claimed Amount')
plt.plot(np.sum(wide_df, axis=0).PaidAmount, label='Paid Amount')
plt.title('Total Claimed & Paid Amounts in 2016, by Month')
plt.xlim(0.9, 12.1)
plt.xlabel('Month')
plt.xticks([1,2,3,4,5,6,7,8,9,10,11,12], ['January', 'February', 
            'March', 'April', 'May', 'June', 'July', 'August', 
            'September', 'October', 'November', 'December'], rotation=45)
plt.ylabel('Total Dollars')
plt.legend(loc=5);

In [ ]:
plt_format()

sns.distplot(paid_df.PremiumVPaid.astype(int))
plt.title('Distribution of Premiums Collected Minus Paid Claims')
plt.xlabel('Premium Collected Minus Paid Claims');

In [ ]:
## DATA DISTRIBUTION COMPARISONS:

plt_format()

sns.violinplot(x='Churned', y='MonthlyPremium ', data=write_out, 
               split=True, inner='quartile', saturation=0.6, 
               palette={1: "deepskyblue", 0: "mediumpurple"})
plt.title('Monthly Premium Distributions, Separated by Churn Status')
plt.xlabel('Churned')
plt.ylabel('Monthly Premium, USD')

plt.ylim(0, 180);

In [ ]:
## DATA DISTRIBUTION COMPARISONS:

plt_format()

sns.violinplot(x='Churned', y='PolicyLength', 
               data=write_out, split=True, inner='quartile', saturation=0.6, 
               palette={1: "deepskyblue", 0: "mediumpurple"})
plt.title('Policy Length Distributions, Separated by Churn Status')
plt.xlabel('Churned')
plt.ylabel('Policy Length, in Months')

plt.ylim(-10, 210);

In [ ]:
## DATA DISTRIBUTION COMPARISONS:

plt_format()

sns.violinplot(x='Churned', y='TotalPaid', 
               data=write_out, split=True, inner='quartile', saturation=0.6, 
               palette={1: "deepskyblue", 0: "mediumpurple"})
plt.title('Total Paid Distributions, Separated by Churn Status')
plt.xlabel('Churned')
plt.ylabel('Total Paid, USD');

In [ ]:
plt_format()

plt.plot(paid_df.PolicyLength, paid_df.MonthlyPremium, '.')
plt.title('Policy Length vs. Monthly Premium')
plt.xlabel('Policy Length, in Months')
plt.ylabel('Monthly Premium, in Dollars');

In [ ]:
plt_format()

plt.plot(paid_df.EnrollDate, paid_df.MeanPaid, '.')
plt.title('Enrollment Date vs. Average Paid Claim Amount')
plt.xlabel('Enrollment Date')
plt.ylabel('Mean Paid Claim Amount, in Dollars');

In [ ]:
plt_format()

sns.distplot(paid_df.PolicyLength.astype(int))
plt.title('Policy Length Distribution')
plt.xlabel('Policy Length, in Months');

---  
  
---  
  
---  
  
  
## Model: Predicting Cancellation Probabilities 
  
 - First, run through a trial model to get an idea of how model will perform

In [ ]:
## DEFINE MODEL INPUT FEATURES & OUTPUT:

df = cancel_df.copy(deep=True)

input_features = ['ClaimedAmount', 'MonthlyPremium', 'PaidAmount', 
                  'MeanClaims', 'MeanPaid', 'MedianClaims', 
                  'MedianPaid', 'TotalClaims', 'TotalPaid', 
                  'TotalDifference', 'Premiums2016', 'PremiumsPaid2016', 
                  'PremiumVPaid', 'PolicyLength']
output_feature = 'Churned'

X = df[input_features]
y = df[output_feature]

In [ ]:
plt_format()

sns.heatmap(pd.concat([pd.DataFrame(X), y], axis=1).corr())
plt.title('Heatmap of Data Feature Correlations');

In [ ]:
## RANDOM FOREST MODELING:

# Split into training & test sets:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)
    
# Scale the data to a mean of '0' and standard deviation of '1'
# Scaling the test data on the training set:
scaler = StandardScaler().fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
      
# Initialize a classifier:
clf = RF(n_estimators=10, criterion='entropy')
clf.fit(X_train, y_train)
# Predict classes:
y_pred = clf.predict(X_test)
# Predict probabilities:
y_prob = clf.predict_proba(X_test)
    
# Print the accuracy:
accuracy = clf.score(X_test, y_test)
print("  Accuracy: ", accuracy*100, '%\n')

print('  Model Statistics:')
confusion_matrices = ConfusionMatrix(y_test, y_pred)
confusion_matrices.print_stats()

In [ ]:
plt_format()

confusion_matrices.plot(backend='seaborn', annot=True, fmt=".0f")
plt.title('Confusion Matrix of Cancellation Predictions');

In [ ]:
## EVALUATE PROBABILITY PREDICTIONS:

# Number of times a predicted probability is assigned to an observation:
counts = pd.value_counts(y_prob[:, 1])
is_churn = y_test == 1

# Calculate true probabilities:
true_prob = {}
for prob in counts.index:
    true_prob[prob] = np.mean(is_churn[y_prob[:, 1] == prob])
    true_prob = pd.Series(true_prob)

# Reshape & rename:
counts = pd.concat([counts, true_prob], axis=1).reset_index()
counts.columns = ['pred_prob', 'count', 'true_prob']

In [ ]:
plt_format()

baseline = np.mean(is_churn)

plt.plot(np.linspace(0, 1, 10), np.linspace(0, 1, 10), 
         c="#95a5a6", linewidth=3, alpha=0.8, label='Ideal Predection Line')
plt.plot(np.linspace(0, 1, 10), np.linspace(baseline, baseline, 10), 
         c="#3498db", linewidth=3, alpha=0.8, label='Mean Probability of Churn')
plt.scatter(data=counts, x='pred_prob', y='true_prob', s='count', 
            marker='o', label=None, alpha=0.7, c="#9b59b6")
plt.title("Random Forest Model Outcomes")
plt.xlabel("Predicted Probability")
plt.ylabel("Relative Frequency of Outcome")
plt.xlim(-0.05,  1.05)
plt.ylim(-0.05, 1.05)
plt.legend(loc=2);

In [ ]:
plt_format()

conf_mat = pd.DataFrame(
    confusion_matrix(y_test.values, y_pred), 
    columns=["Predicted False", "Predicted True"], 
    index=["Actual False", "Actual True"]
)
display(conf_mat)

# Calculate the false positives & true positives for all thresholds of the classification
fpr, tpr, threshold = roc_curve(y_test, y_prob[:, 1])
plt.title('Receiver Operating Characteristic')
plt.plot(fpr, tpr, color='deepskyblue', linewidth=3)
plt.plot([0, 1], [0, 1], '--', color='mediumpurple', linewidth=3)
plt.xlim([0, 1])
plt.ylim([0, 1])
plt.ylabel('True Positive Rate')
plt.xlabel('False Positive Rate')
plt.show()

In [ ]:
fig = plt.figure(figsize=(20, 18))
ax = fig.add_subplot(111)

df_f = pd.DataFrame(clf.feature_importances_, columns=["Importance"])
df_f["Labels"] = df[input_features].columns
df_f.sort_values("Importance", inplace=True, ascending=False)
display(df_f.head(5))

index = np.arange(len(clf.feature_importances_))
bar_width = 0.7
rects = plt.barh(index , df_f["Importance"], bar_width, alpha=0.4, color='b', label='Main')
plt.yticks(index, df_f["Labels"])
plt.title('Proportion of Importance for each Model Input Feature')
plt.xlabel('Importance, Proportion')
plt.ylabel('Model Input Feature')
plt.show()

In [ ]:
## PREVIEW CHURN PROBABILITIES:

pd.DataFrame(y_prob).iloc[:, 1].head(10)

---  
  
- Final cancellation prediction model

In [ ]:
## RANDOM FOREST MODELING; TRAIN FINAL MODEL WITH OUTPUT:

# Scale the data to a mean of '0' and standard deviation of '1':
scaler = StandardScaler().fit(X)
X = scaler.transform(X)
      
# Initialize a classifier:
clf = RF(n_estimators=4, criterion='entropy', random_state=None)
clf.fit(X, y)
# Predict classes:
y_pred = clf.predict(X)
# Predict probabilities:
y_prob = clf.predict_proba(X)
    
# Print the accuracy:
accuracy = clf.score(X, y)
print("  Accuracy: ", accuracy*100, '%\n')

print('  Model Statistics:')
confusion_matrices = ConfusionMatrix(y, y_pred)
confusion_matrices.print_stats()

In [ ]:
## EVALUATE PROBABILITY PREDICTIONS:

# Number of times a predicted probability is assigned to an observation:
counts = pd.value_counts(y_prob[:, 1])
is_churn = y == 1

# Calculate true probabilities:
true_prob = {}
for prob in counts.index:
    true_prob[prob] = np.mean(is_churn[y_prob[:, 1] == prob])
    true_prob = pd.Series(true_prob)

# Reshape & rename:
counts = pd.concat([counts, true_prob], axis=1).reset_index()
counts.columns = ['pred_prob', 'count', 'true_prob']

In [ ]:
## PLOT PREDICTION COUNTS:

plt_format()

baseline = np.mean(is_churn)

plt.plot(np.linspace(0, 1, 10), np.linspace(0, 1, 10), 
         c="#95a5a6", linewidth=3, alpha=0.8, label='Ideal Predection Line')
plt.plot(np.linspace(0, 1, 10), np.linspace(baseline, baseline, 10), 
         c="#3498db", linewidth=3, alpha=0.8, label='Mean Probability of Churn')
plt.scatter(data=counts, x='pred_prob', y='true_prob', s='count', 
            marker='o', label=None, alpha=0.7, c="#9b59b6")
plt.title("Random Forest Model Outcomes")
plt.xlabel("Predicted Probability")
plt.ylabel("Relative Frequency of Outcome")
plt.xlim(-0.05,  1.05)
plt.ylim(-0.05, 1.05)
plt.legend(loc=2);

In [ ]:
## WRITE OUT CANCELLATION PROBABILITIES:

cancel_probs = pd.DataFrame(y_prob).iloc[:, 1]
cancel_probs = pd.concat([df.PolicyId, cancel_probs], axis=1)
cancel_probs.columns = ['PolicyId', 'CancelProb']
cancel_probs.to_csv('./Data/CancellationProbabilities.csv', index=False)

---  
  
---  
  
### In conclusion, 

#### Thank you very much for considering me for the Data Scientist position at Trupanion!  I know your time is valuable, and I hope that you find my thorough answers helpful in assessing my mental processes.  I look forward to hearing from you soon!

**Regards,**  
**Heather M. Steich, M.S.**

Contact Info:
  - Phone: 925-321-3997  
  - Email: [hms_945@yahoo.com](mailto:hms_945@yahoo.com)  
  - LinkedIn: [HeatherSteich](https://www.linkedin.com/in/heathersteich)  
  - Github: [hsteich](https://www.github.com/hsteich)  
  - YouTube Channel: [DataScienceBrushUp](https://www.youtube.com/channel/UCPxg-VShHJ19t3IwnS1mMMQ)